*{
    padding: 0;
    margin: 0;
    font-family: 'Fredoka', sans-serif;
}

body{
    background-color: #151D3B;
    
}

header{
    padding: 10px;
    box-shadow: 2px 2px 5px black;
}

#header-wrapper{
    width: 60%;
    margin: auto;
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
}

*, ::before, ::after{
    box-sizing: border-box;
}